body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.floating-btn{
  position: absolute;
  top: 80%;
  right: 1%;
  background-color: #0d19a3;
  color: white;
  position: fixed;
  border-radius: 3em;
  z-index: 1;
}

.navbar{
  background-color: white;
}

.cta{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/3547223.jpg') no-repeat center;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  height: 600px;
 
 }

 .modal{
   width: 400px;
   height: 300px;
 }


.btn-outline-white{
  border: 1px solid white;
  border-radius: 3em;
  padding: 12px 25px;
}

.btn-blue{
  background-color: #fccd04;
  padding: 12px 25px;
}
.btn-black{
  color: black;
  border-radius: 0;
  border: 2px solid black;
  padding: 12px 25px;
}
input{
  padding: 12px 25px;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

.card {
  background: white;
  padding: 20px 30px;
  margin: 60px 28px 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-repeat: no-repeat;
}